body {
  background-image: url("https://images5.alphacoders.com/656/thumb-1920-656567.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
.card {
  width: 1125px;
  display: flex;
  height: 1100px;
  border-radius: 30px;
  background: #e0e0e0;
  margin: 300px;
  align-content: center;
  flex-direction: column;
  background-image: none;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
}
.buttonF {
  border: 1px solid seagreen;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: seagreen;
  font-style: italic;
  padding: 10px;
  padding-right: 14px;
  padding-left: 12px;
  font-size: 17px;
}
.buttonF:hover {
  background-color: seagreen;
  color: white;
  border: 1px solid seagreen;
}
.button {
  border: 1px solid seagreen;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: seagreen;
  font-style: italic;
  padding: 10px;
  padding-right: 14px;
  padding-left: 12px;
  font-size: 17px;
}

.button:hover {
  background-color: seagreen;
  color: white;
  border: 1px solid seagreen;
}
.input {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e8e8e8;
}

.buttonA {
  border: 1px solid seagreen;
  border-radius: 5px;
  background: rgb(45, 214, 110);
  color: seagreen;
  font-style: italic;
  padding: 10px;
  padding-right: 14px;
  padding-left: 12px;
  font-size: 17px;
}

.buttonA:hover {
  background-color: seagreen;
  color: white;
  border: 1px solid seagreen;
}
.arrow {
  margin-top: 39px;
  margin-left: -967px;
  box-sizing: border-box;
  height: 2vw;
  width: 2vw;
  border-style: solid;
  border-color: rgb(10, 6, 6);
  border-width: 0px 1px 1px 0px;
  transform: rotate(130deg);
  transition: border-width 150ms ease-in-out;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full {
  background-color: #256347;
}
