.Principal {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #4e4c54;
    font-family: 'Roboto', sans-serif;
    color:white;
}
.f{
    font-family: 'Roboto', sans-serif;
}
.logo{
    width: 90px;
}
a:focus, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
.containerSecondary{
    display: flex;
    align-items: center;
}
.containerFilters{
    padding: 20px;
    display: flex;
    flex-direction: column;

}
.containerOrders{
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.containerInput{
    display: flex;
    flex-direction: row;
}
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .buttonContent {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }